    <footer class="footer">
    <div class="container">
        <div class="row">
        <div class="col-md-4">
            <h5 class="text-white">Khojne Sathi</h5>
            <p class="text-muted small">
            Nepal’s most trusted lost and found platform.
            </p>
        </div>
        <div class="col-md-2">
            <h6 class="text-white">Quick Links</h6>
            <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">Lost Items</a></li>
            <li><a href="#">Found Items</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h6 class="text-white">Support</h6>
            <ul class="list-unstyled">
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h6 class="text-white">Contact</h6>
            <p class="text-muted small">
            Kathmandu, Nepal<br>
            info@khojnesathi.com
            </p>
        </div>
        </div>
        <hr class="border-secondary">
        <p class="text-center text-muted small">
        © 2026 Khojne Sathi. All rights reserved.
        </p>
    </div>
    </footer>